* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.conteinerIndex {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas: "img" "head" "main" "footer";
  background-color: #3b3b3b;
  justify-self: center;
}

.head {
  grid-area: head;
  justify-self: center;
  justify-content: center;
  background-color: #3b3b3b;
}

.navbar {
  background-color: #3b3b3b;
}

.nav-link {
  color: #F4CE5E;
  justify-content: center;
  font-weight: bold;
  font-size: 1.8rem;
}
.nav-link:hover {
  color: #E5E4E2;
}

/*MAIN*/
.main {
  grid-area: main;
  background-image: url("../img/aaaa.png");
  height: 650px;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border-top-color: #F4CE5E;
  border-bottom-color: #F4CE5E;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 3px;
}

.boxIndex1 {
  height: 2, 5rem;
  width: 400px;
  background-color: #D9D9D9;
  opacity: 0.7;
  color: #3b3b3b;
  font-weight: bolder;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.MainServicios {
  grid-area: main;
  background-image: url("../img/Rectangle.png");
  display: flex;
  flex-wrap: wrap;
  background-position: center;
  background-size: cover;
  text-align: center;
  border-top-color: #F4CE5E;
  border-bottom-color: #F4CE5E;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 3px;
}

.cajas {
  display: grid;
  grid-template-areas: "c1 c2" "c3 c4";
  gap: 20px;
  opacity: 0.7;
  margin: 20px;
  padding: 30px;
  justify-self: center;
  align-items: center;
}
.cajas h5 {
  text-decoration: underline;
}
.cajas img {
  padding-top: 20px;
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

.c3 {
  grid-area: c3;
}

.c4 {
  grid-area: c4;
}

.mainN {
  grid-area: main;
  background-image: url("../img/Rectangle.png");
  height: 650px;
  display: flex;
  background-position: center;
  background-size: cover;
  text-align: center;
  border-top-color: #F4CE5E;
  border-bottom-color: #F4CE5E;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 3px;
  flex-wrap: wrap;
}

.nos {
  opacity: 0.7;
  margin: 5%;
  padding: 5%;
}

.noso h5 {
  text-decoration: underline;
  font-size: 50px;
}

.noso p {
  font-size: 30px;
}

.mainContacto {
  grid-area: main;
  background-image: url("../img/contactate.png");
  height: 655px;
  border-top-color: #F4CE5E;
  border-bottom-color: #F4CE5E;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.sectionContacto {
  padding: 20px;
}
.sectionContacto h1 {
  display: flex;
  text-decoration: underline;
  padding-bottom: 10px;
}

.mainCC {
  grid-area: main;
  background-image: url("../img/cargacritica.png");
  height: 655px;
  border-top-color: #F4CE5E;
  border-bottom-color: #F4CE5E;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.secCC {
  display: flex;
  justify-items: center;
  padding: 60px;
  margin: 20px;
}
.secCC sec {
  margin: 20px;
}

.but {
  background-color: #F4CE5E;
  color: black;
  font-weight: bolder;
  border-radius: 10px;
  border-color: #F4CE5E;
}

.footer {
  grid-area: footer;
  width: 100%;
  display: grid;
  background-color: #3B3B3B;
}

.foot1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 10px;
  justify-items: center;
  align-items: center;
  color: #F4CE5E;
  font-weight: bolder;
}

.foot {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding-top: 10px;
}

@media (max-width: 578px) {
  .head {
    display: flex;
    flex-wrap: wrap;
  }
  .head navbar:hover {
    color: #E5E4E2;
  }
  .main {
    display: flex;
    flex-wrap: wrap;
  }
  .main boxIndex1 h1 {
    display: flex;
    flex-wrap: wrap;
  }
  .MainServicios {
    display: grid;
    grid-template-areas: "c1" "c2" "c3" "c4";
  }
  .c1 {
    grid-area: c1;
  }
  .c2 {
    grid-area: c2;
  }
  .c3 {
    grid-area: c3;
  }
  .c4 {
    grid-area: c4;
  }
  .mainN {
    display: flex;
    flex-wrap: wrap;
  }
  .main {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
  }
  .card {
    height: 500px;
  }
  .noso {
    display: flex;
    flex-wrap: wrap;
    font-size: 20%;
  }
  .noso p {
    display: flex;
    flex-wrap: wrap;
    text-overflow: ellipsis;
  }
  .mainCC {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .sec {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .foot1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
