.footer{
    grid-area: footer;
    width: 100%;
    display: grid;
    background-color: #3B3B3B;
}
.foot1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 10px;
    justify-items: center;
    align-items: center;
    color: #F4CE5E;
    font-weight: bolder;
}
.foot{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-top: 10px;
}