.MainServicios{
    grid-area: main;
    background-image: url("../img/Rectangle.png");
    height: 800px;
    background-position: center;
    background-size:cover;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-top-color: #F4CE5E;
    border-bottom-color: #F4CE5E;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 3px;
}
.cajas{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    grid-template-areas: 
    "caja1 caja2"
    "caja3 caja4"
    ;
    color: black;
}
.cajaS{
    gap: 3rem;
    background-color: #D9D9D9;
    opacity: .70;
    margin: 15px;
    border-radius: 10PX;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    & h5{
        text-decoration: underline;
        font-size: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    & p{
        font-size: 25px;
        display: flex;
        flex-wrap: wrap;
    }
}
.imgServicios{
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    color: black;
}
.caja1{
    grid-area: caja1;
}
.caja2{
    grid-area: caja2;
}
.caja3{
    grid-area: caja3;
}
.caja4{
    grid-area: caja4;
}