@media (max-width: 830px) { 
    .head{
        display: flex;
        flex-wrap: wrap;
        & navbar:hover{
            color: #E5E4E2;
        }
    }
    /*Main Index*/
    .main{
        display: flex;
        flex-wrap: wrap;
        & boxIndex1 h1{
            display: flex;
            flex-wrap: wrap;
        }
    }
    /*Main Nosotros*/
    .mainN{
        display: flex;
        flex-wrap: wrap;
    }
    /*Main Servicios*/
    .MainServicios{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .cajaS{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    /*Main Contacto*/
    .mainCC{
        display: flex;
        flex-wrap: wrap;
    }
    .form-critical{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .form-request{
        display: flex;
        flex-wrap: wrap;
    }
    .contact{
        height:min-content;
    }
    
    /*Main Carga Crítica*/
    .form-critical{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    /*Footer*/
    .foot1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}