@media (max-width: 578px) { 
    .head{
        display: flex;
        flex-wrap: wrap;
        & navbar:hover{
            color: #E5E4E2;
        }
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        & boxIndex1 h1{
            display: flex;
            flex-wrap: wrap;
        }
    }
    .MainServicios{
        display: grid;
        grid-template-areas: 
        "c1"
        "c2"
        "c3"
        "c4"
        ;
    }
    .c1{
        grid-area: c1;
    }
    .c2{
        grid-area: c2;
    }
    .c3{
        grid-area: c3;
    }
    .c4{
        grid-area: c4;
    }
    .mainN{
        display: flex;
        flex-wrap: wrap;
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        height: 500px;
    }
    .card{
        height: 500px;
    }
    .noso{
        display: flex;
        flex-wrap: wrap;
        font-size: 20%;
        & p{
            display: flex;
            flex-wrap: wrap;
            text-overflow:ellipsis;
        }
    }
    .mainCC{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .sec{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .foot1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}