*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: auto;
    width: 100%;
}
.conteinerIndex{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-areas: 
    "img"
    "head"
    "main"
    "footer"
    ;
    background-color: #3b3b3b;
    justify-self: center; 
}